on: [push]
name: AzureARMSample

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: anthony-c-martin/setup-bicep@v0.1
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Build Bicep
      # path to your checked-in .bicep file to deploy
      run: bicep build ./TheGenesysProject.Manager.Deploy/Bicep/main.bicep
    - uses: azure/arm-deploy@v1
      with:
        # set scope to subscription and make resource group name optional (subscirptionid is set at az login)
        scope: subscription
        # should match the .bicep file path but with .json extension
        template: ./TheGenesysProject.Manager.Deploy/Bicep/main.json
        # path to your checked-in parameters file to deploy
        parameters: ./TheGenesysProject.Manager.Deploy/Bicep/main.parameters.json
        failOnStdErr: false
