on: [push]
name: AzureARMSample

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: DannyvanderKraan/setup-bicep@v0.1
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: Azure/cli@v1.0.7
      with:
        # Specify the script here
        inlineScript: az deployment sub create --template-file main.bicep --location westeurope
        # Azure CLI version to be used to execute the script. If not provided, latest version is used azcliversion: # optional, default is agentazcliversion
